@using Constants = CAP_TEAM05_2022.Helper.Constants;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
}
@section style {
    <link href="~/Content/css/custom-css.css" rel="stylesheet" />
}
<input type="text" hidden id="URL_List" value="@Url.Action("_GroupList", "groups")" />

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý nhóm hàng</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý nhóm hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4>NHÓM HÀNG</h4>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn  btn-primary btn-block" onclick="createGroup()">Thêm mới</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive" id="dataContainer">
                                @{ Html.RenderAction("_GroupList", "groups");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="table-responsive" id="dataContainer2">
</div>
@section scripts {
    <script>
    var row;
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
function editGroup(id) {
            $.ajax({
                url: '@Url.Action("_Form", "groups")',
                type: 'GET',
                data: { id },
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').prepend(response);
                    // Display Modal
                    $('#Group').modal('show');
                    // Parse validator for edit form
                    $.validator.unobtrusive.parse('#Group form');
                }
            });
        }
        function createGroup() {
        if ($('#isCreate').val() != undefined && $('#isCreate').val() == @Constants.CREATE_FORM) {
            $('#Group').modal('show');

            } else {
              $.ajax({
                url: '@Url.Action("_Form", "groups")',
                type: 'GET',
                data: {},
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#Group').modal('show');
                    // Parse validator for edit form
                    $.validator.unobtrusive.parse('#Group form');
                }
            });

            }

        }
    </script>
}