
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";
}
<input type="text" hidden id="URL_RevenueList_Date" value="@Url.Action("_RevenueList_Date", "Revenues")" />
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Doanh thu</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://dnqt.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Doanh thu</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-2">
                                    <select id="select-date" class="form-control">
                                        <option value="1">Theo ngày</option>
                                        <option value="2">Theo tháng</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input name="date_start" id="revenue_DateStart" placeholder="" class="form-control custom-width flatpickr" value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now)">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mx-datepicker">
                                        <div class="mx-input-wrapper">
                                            <input name="date_end" id="revenue_DateEnd" class="form-control custom-width flatpickr" value="@String.Format("{0:yyyy-MM-dd}",DateTime.Now)">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="float-right">
                                        <button type="button" class="btn btn-secondary" id="btnExportExcel_RevenueDate">Xuất doanh thu</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card" id="dataContainer">
                        @{ Html.RenderAction("_RevenueList_Date", "Revenues");}
                    </div>
                </div>
            </div>                     
        </div>
    </div>
</section>
<div id="dataContainer2">
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
        });
        function GetList_orderDetails(id, method) {
            $.ajax({
                url: '@Url.Action("_OrderDetailsList", "sales")',
                data: {
                    order_id: id,

                }
            }).done(function (result) {
                $('#dataContainer2').html(result);
                    $('#detailModal.close').css('display', 'none');
                    $('#detailModal').modal('show');             
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                alert("Something Went Wrong, Try Later");
            });
    }
    </script>
}