@model IEnumerable<CAP_TEAM05_2022.Models.customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";

}
@section style {
    <link href="~/Content/css/custom-css.css" rel="stylesheet" />
}
<input type="text" hidden id="URLCustomerList" value="@Url.Action("_CustomerList", "customers")" />
<input type="text" hidden id="URLFindCustomer" value="@Url.Action("FindCustomer", "customers")/" />

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý khách hàng</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý khách hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" class="btn btn-primary float-right ml-2" onclick="createCustomer()">Tạo mới</button>
                            <div class="row">
                                <div class="col-md-9">
                                    <h4>KHÁCH HÀNG</h4>
                                </div>
                                <div class="col-md-3">
                                    <select name="filter_type" id="filter_type" class="form-control">
                                        <option value="">Xem tất cả</option>
                                        <option value="1">Khách mua lẻ</option>
                                        <option value="2">Công ty (khách mua sỉ)</option>
                                        <option value="3">Nhà cung cấp</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive" id="dataContainer">

                                @{ Html.RenderAction("_CustomerList", "customers");}

                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="table-responsive" id="dataContainer2">
</div>
@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
    function editCustomer(id) {
            $.ajax({
                url: '@Url.Action("_Form", "customers")',
                type: 'GET',
                data: { id },
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#Customer').modal('show');
                }
            });
        }
function createCustomer() {
            $.ajax({
                url: '@Url.Action("_Form", "customers")',
                type: 'GET',
                data: {},
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#Customer').modal('show');
                }
            });
        }
    </script>
}