@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>TanThanh Website</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/Template/assets/images/logo-icon.png" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/Template/assets/css/style.css">

    <style>
        #topPage {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 0;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #373a3c;
            color: white;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
        }

            #topPage:hover {
                background-color: #555;
            }
    </style>
</head>

<body class="">
    <button onclick="topFunction()" id="topPage" title="Lên đầu trang">&nbsp;<i class="fas fa-arrow-up"></i>&nbsp;</button>
    <div id="app">
        <!-- [ Pre-loader ] start -->
        <div class="loader-bg">
            <div class="loader-track">
                <div class="loader-fill"></div>
            </div>
        </div>
        <!-- [ Pre-loader ] End -->
        <div class="auth-wrapper">
            <div class="auth-content text-center">
                <img src="@Url.Content("~/Template/assets/images/logoTT.png")" alt="" class="img-fluid mb-4 image-logo">
                <div class="card borderless">
                    <div class="row align-items-center ">
                        <div class="col-md-12">
                            <div class="card-body">
                                    <h4 class="mb-3 f-w-400">Xác nhận quên mật khẩu</h4>
                                    <hr>
                                    <div class="form-group mb-3">
                                        <p>
                                            Vui lòng kiểm tra email của bạn để thiết lập lại mật khẩu của bạn.
                                        </p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
    <script src="~/Template/assets/js/vendor-all.min.js"></script>
    <script src="~/Template/assets/js/plugins/bootstrap.min.js"></script>

    <script src="~/Template/assets/js/pcoded.min.js"></script>

    <!-- Apex Chart -->
    <!-- custom-chart js -->

    <script>
        let mybutton = document.getElementById("topPage");
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }</script>
</body>

</html>

