@model IEnumerable<CAP_TEAM05_2022.Models.category>
@using Constants = CAP_TEAM05_2022.Helper.Constants;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_QuyThanh.cshtml";

}
@section style {
    <link href="~/Content/css/custom-css.css" rel="stylesheet" />
}
<input type="text" hidden id="URL_List" value="@Url.Action("_CategoryList", "categories")" />
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Quản lý danh mục</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="https://tancool.net">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Quản lý danh mục</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4>DANH MỤC SẢN PHẨM</h4>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn  btn-primary btn-block" onclick="createCategory()">Thêm mới</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive" id="dataContainer">
                                @{ Html.RenderAction("_CategoryList", "categories");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="table-responsive" id="dataContainer2">
</div>
@section scripts {

    <script>
    var row;
    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
        function editCategory(id) {
            $.ajax({
                url: '@Url.Action("_Form", "categories")',
                type: 'GET',
                data: { id },
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#Category').modal('show');
                }
            });
        }

        function createCategory() {
            if ($('#isCreate').val() != undefined && $('#isCreate').val() == @Constants.CREATE_FORM) {
                $('#Category').modal('show');

            } else {
            $.ajax({
                url: '@Url.Action("_Form", "categories")',
                type: 'GET',
                data: {},
                success: function (response) {
                    // Add response in Modal body
                    $('#dataContainer2').html(response);
                    // Display Modal
                    $('#Category').modal('show');
                }
            });

            }

        }
    </script>
}

