@media (max-width: 1024px) {
    .nav-control-item  {
        padding-bottom: 12px;
    }


    .nav-control-item .btn {
        width: 100%;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    /*.m-header .b-brand {
        width: 200px;
    }*/


}

@media (max-width: 739px) {
    .nav-btn button {
        margin-bottom: 6px;
    }
}