<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">DOANH NGHIỆP TẤN THÀNH</h4>
            <h6 class="text-center">Địa chỉ: 11/43 Ấp Tân Trung B, xã Tân Hưng, Huyện Tân Châu, Tỉnh Tây Ninh</h6>
            <h6 class="text-center">SDT: 0382399026</h6>
            <hr>
            <h4 class="text-center">BẢN XEM TRƯỚC HOÁ ĐƠN</h4>
        </div>
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-md-6">
                        <p>Ngày 20 tháng 12 năm 2022, Thời gian: 13:38</p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-right">Mã khách hàng: MKH1669478564</p>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">STT</th>
                            <th>Mã hàng</th>
                            <th>Tên hàng hàng</th>
                            <th class="text-center">Đơn vị</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">Chiết khấu</th>
                            <th class="text-center">Đơn giá</th>
                            <th class="text-center">Thành tiền</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>SPc63d35429</td>
                            <td> APPENCARB SUPER - THUỐC ĐẶC TRỊ NẤM BÊNH CHO CÂY TRỒNG</td>
                            <td class="text-center"> 50KG</td>
                            <td class="text-center">
                                59
                            </td>
                            <td class="text-center">0%</td>
                            <td class="text-center">1,100,000</td>
                            <td class="text-center">
                                64,900,000
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>SP534c7e64a</td>
                            <td>LÂN SUPER</td>
                            <td class="text-center"> 50KG</td>
                            <td class="text-center">
                                2
                            </td>
                            <td class="text-center">0%</td>
                            <td class="text-center">319,000</td>
                            <td class="text-center">
                                638,000
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr style="display: none;">
                            <td colspan="11">
                                <div class="alert alert-warning">
                                    <p class="text-center">Không tìm thấy dữ liệu</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-right">
                                <h5>Tạm tính</h5>
                            </td>
                            <td colspan="2" class="text-left">
                                <h5>65,538,000VNĐ</h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-right">
                                <h5>VAT (%)</h5>
                            </td>
                            <td colspan="2" class="text-left">
                                <h5>0%</h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-right">
                                <h5>Chiết khấu (%)</h5>
                            </td>
                            <td colspan="2" class="text-left">
                                <h5>0%</h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-right">
                                <h5>Hình thức</h5>
                            </td>
                            <td colspan="2" class="text-left">
                                Xem trước (Chưa thanh toán)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-right">
                                <h5>Thành tiền</h5>
                            </td>
                            <td colspan="2" class="text-left">
                                <h5>
                                    65,538,000VNĐ
                                </h5>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
